.contact {
    background-color: #eecdfc;
    min-height: 100vh;

}

.contactContainer {
    min-height: 100vh;
    width: 80%;
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #8e8f92;
}

.form {
    border: 1px solid;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.textarea {
    height: 50%;
    width: 80%;
}

.button {
    margin-top: 20px;
}