.app {
  background-color: #8e8f92;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}